.home-global{
    padding: 20px 21px 80px 12px;
    margin-left: 15px;
}

.home-card{
    width: 300px;
    height: 365px;
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    background-color:#00285F;
    padding: 0px 50px 0px 0px;
    margin: 0px 20px 0px 0px;
}

.home-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding: 45px 21px 5px 72px;
}
.home-content-container h1{
    font-size: 1em;
    width: 287px;
    height: 26px;
    padding: 0px 22px 13px 22px;
}
.home-content-container p{
    font-size: 0.7em;
    width: 271px;
    height: 32px;
    padding: 5px 15px 81px 28px;
}

.home-image-container{
    width: 284px;
    height: 196px;
    padding: 75px 28px 5px 48px;
}

.home-btn{
    width: 300px;
    height: 123px;
    font-size: 22px;
    margin: 21px 31px 2px 0px;
}

.home-btn-button{
    width: 101;
    height: 40px;
    font-size: 0.8em;
}

.home-btn-button p{
    width: 280px;
    height: 21px;
    font-size: 1em;
    margin: 0px 20px 0px 40px;
}

.home-image-container svg{
    width: 100%;
    height: auto;
}


@media(min-width: 576px){
    .home-card{
        width: 536px;
        height: 365px;;
        display: flex;
        flex-direction: column-reverse;
        color: #fff;
        background-color:#00285F;
        padding: 0px 50px 0px 0px;
        margin: 0px 20px 0px 0px;
    }
   
    .home-image-container{
        width: 333px;
        height: 199px;
        padding: 0px 102px 1px 99px;
    }

    .home-content-container{
        padding: 0px 15px 0px 45px;
    }
    
    .home-content-container h1{
        width: 480px;
        height: 50px;
        font-size: 1.8em;
        padding: 0px 5px 0px 38px;
        
    }

    .home-content-container p{
        font-size: 1em;
        width: 480px;
        height: 92px;
        text-align: center;
        padding: 0px 62px 0px 5px;
        margin: 0px 8px 0px 28px;
    }

    .home-btn-button{
        font-size: 18px;
        display: flex;
    }

    .home-btn{
        width: 536px;
        height: 123px;
        margin: 20px 0px 0px 0px;  
    }

    .home-btn-button p{
        width: 790px;
        height: 21px;
        font-size: 0.9em;
        color: #585858;        
        margin: 45px 75px 0px 0px; 
    }

    .home-image-container svg{
        width: 300px;
    }
}


@media(min-width: 768px){
    .home-container{
        width: 728px;
        height: 475px;
        padding: 5px 10px 0px 5px;
        font-size: 25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .home-card{
        padding: 5px 0px 3px 0px;
    }

    .home-image-container{
        width: 333px;
        height: 199px;
        padding: 45px 98px 20px 195px;
    }

    .home-content-container{
        font-size: 25px;
        padding: 65px 15px 80px 35px;
    }
    
    .home-content-container h1{
        width: 420px;
        height: 42px;
        font-size: 1.14em;
        padding: 10px 12px 20px 35px;
    }

    .home-content-container p{
        font-size: 0.6em;
        width: 420px;
        height: 42px;
        padding: 5px 39px 41px 35px;
    }

    .home-btn-button{
        font-size: 18px;
        display: flex;
    }

    .home-btn{
        width: 536px;
        height: 123px; 
        margin: 20px 0px 0px 0px;  
    }

    .home-btn-button p{
        width: 520px;
        height: 21px;
        font-size: 0.8em;
        color: #585858;        
        margin: 45px 75px 0px 0px; 
    }

    .home-image-container svg{
        width: 300px;
    }
}


@media(min-width: 992px){
    .home-container{
        width: 952px;
        height: 579px;
        padding: 5px 10px 0px 5px;
        font-size: 25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;;
    }

    .home-card{
        padding: 5px 0px 18px 0px;
    }

    .home-image-container{
        width: 455px;
        height: 272px;
        padding: 105px 249px 15px 310px;
    }

    .home-content-container{
        font-size: 25px;
        padding: 85px 15px 100px 35px;
    }
    
    .home-content-container h1{
        width: 420px;
        height: 42px;
        font-size: 1.1em;
        padding: 1px 19px 20px 26px;
    }

    .home-content-container p{
        font-size: 0.6em;
        width: 420px;
        height: 42px;
        padding: 5px 85px 41px 2px;
    }

    .home-btn-button{
        font-size: 18px;
        display: flex;
    }

    .home-btn{
        width: 536px;
        height: 123px;
        margin: 20px 0px 0px 0px;  
    }

    .home-btn-button p{
        width: 520px;
        height: 21px;
        font-size: 0.8em;
        color: #585858;        
        margin: 45px 75px 0px 0px; 
    }

    .home-image-container svg{
        width: 300px;
    }
}



@media(min-width: 1200px){
    .home-container{
        width: 979px;
        height: 365px;
        padding: 5px 10px 0px 5px;
        font-size: 25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .home-card{
        padding: 5px 0px 18px 0px;
    }

    .home-image-container{
        width: 333px;
        height: 119px;
        padding: 73px 9px 0px 585px;
    }

    .home-content-container{
        align-items: flex-start;
        text-align: left;
        align-content: space-between;
        flex-flow: wrap;
        font-size: 25px;
        padding: 0px 52px 10px 135px;
        
    }
    
    .home-content-container h1{
        width: 420px;
        height: 42px;
        font-size: 1.1em;
        padding: 1px 19px 20px 26px;
    }

    .home-content-container p{
        font-size: 0.6em;
        width: 420px;
        height: 42px;
        padding: 0px 85px 41px 2px;
    }

    .home-btn-button{
        font-size: 18px;
        display: flex;
    }

    .home-btn{
        width: 536px;
        height: 123px;
        margin: 20px 0px 0px 0px;  
    }

    .home-btn-button p{
        width: 520px;
        height: 21px;
        font-size: 0.8em;
        color: #585858;        
        margin: 45px 75px 0px 0px; 
    }

    .home-image-container svg{
        width: 300px;
    }
}


