.home-global{
    height: 1080px;
    width: 1920px;
    background: #fff;
    padding: 20px 21px 80px 12px;
    margin-left: 15px;
}

.home-container{
    width: 300px;
    height: 365px;
    padding: 5px 0px 0px 10px;
    left: 10px;
    top: 90px;
    font-size: 15px;
    text-align: center;
    background-color:#00285F;
    border-radius: 10px;
    border: 2px solid yellow;
}

.home-card{
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    border: 2px solid orange;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 5px 21px 40px 22px;
}

.home-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    border: 2px solid red;
    padding: 45px 21px 5px 22px;
}
.home-content-container h1{
    font-size: 0.9em;
    width: 257px;
    height: 26px;
    padding: 5px 22px 13px 22px;
}
.home-content-container p{
    font-size: 0.6em;
    width: 251px;
    height: 32px;
    padding: 5px 30px 51px 28px;
}

.home-image-container{
    border: 5px solid green;
    width: 244px;
    height: 146px;
    padding: 45px 28px 15px 28px;
}

.home-btn{
    width: 300px;
    height: 123px;
    font-size: 22px;
    background: #EDEDED;
    margin: 21px 21px 2px 0px;
    border-radius: 5px;
}

.home-btn-button{
    width: 101;
    height: 40px;
    font-size: 0.8em;
}

.home-btn-button p{
    width: 199px;
    height: 21px;
    font-size: 0.9em;
    margin: 0px 20px 0px 60px;
}

.home-image-container svg{
    width: 100%;
    height: auto;
}


@media(min-width: 576px){
    .home-container{
        width: 536px;
        height: 365px;
        padding: 5px 10px 0px 5px;
        font-size: 25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        background-color: #00285F;
        border-radius: 10px;
    }

    .home-card{
        padding: 5px 0px 20px 0px;
    }

    .home-image-container{
        width: 333px;
        height: 199px;
        padding: 15px 102px 10px 96px;
    }

    .home-content-container{
        padding: 10px 15px 0px 35px;
    }
    
    .home-content-container h1{
        width: 420px;
        height: 42px;
        font-size: 1.5em;
        padding: 1px 5px 0px 38px;
        
    }

    .home-content-container p{
        font-size: 0.9em;
        width: 420px;
        height: 42px;
        padding: 0px 22px 41px 15px;
        margin: 0px 58px 5px 28px;
    }

    .home-btn-button{
        font-size: 18px;
        display: flex;
    }

    .home-btn{
        width: 536px;
        height: 123px;
        background: #fff; 
        margin: 20px 0px 0px 0px;  
    }

    .home-btn-button p{
        width: 520px;
        height: 21px;
        font-size: 0.8em;
        color: #585858;        
        margin: 45px 75px 0px 0px; 
    }

    .home-image-container svg{
        width: 300px;
    }
}


@media(min-width: 768px){
    .home-container{
        width: 728px;
        height: 475px;
        padding: 5px 10px 0px 5px;
        font-size: 25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        background-color: #00285F;
        border-radius: 10px;
    }

    .home-card{
        padding: 5px 0px 3px 0px;
    }

    .home-image-container{
        width: 333px;
        height: 199px;
        padding: 45px 98px 20px 195px;
    }

    .home-content-container{
        font-size: 25px;
        padding: 65px 15px 80px 35px;
    }
    
    .home-content-container h1{
        width: 420px;
        height: 42px;
        font-size: 1.14em;
        padding: 10px 12px 20px 35px;
    }

    .home-content-container p{
        font-size: 0.6em;
        width: 420px;
        height: 42px;
        padding: 5px 39px 41px 35px;
    }

    .home-btn-button{
        font-size: 18px;
        display: flex;
    }

    .home-btn{
        width: 536px;
        height: 123px;
        background: #fff; 
        margin: 20px 0px 0px 0px;  
    }

    .home-btn-button p{
        width: 520px;
        height: 21px;
        font-size: 0.8em;
        color: #585858;        
        margin: 45px 75px 0px 0px; 
    }

    .home-image-container svg{
        width: 300px;
    }
}


@media(min-width: 992px){
    .home-container{
        width: 952px;
        height: 579px;
        padding: 5px 10px 0px 5px;
        font-size: 25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        background-color: #00285F;
        border-radius: 10px;
    }

    .home-card{
        padding: 5px 0px 18px 0px;
    }

    .home-image-container{
        width: 455px;
        height: 272px;
        padding: 105px 249px 15px 310px;
    }

    .home-content-container{
        font-size: 25px;
        padding: 85px 15px 100px 35px;
    }
    
    .home-content-container h1{
        width: 420px;
        height: 42px;
        font-size: 1.1em;
        padding: 1px 19px 20px 26px;
    }

    .home-content-container p{
        font-size: 0.6em;
        width: 420px;
        height: 42px;
        padding: 5px 85px 41px 2px;
    }

    .home-btn-button{
        font-size: 18px;
        display: flex;
    }

    .home-btn{
        width: 536px;
        height: 123px;
        background: #fff; 
        margin: 20px 0px 0px 0px;  
    }

    .home-btn-button p{
        width: 520px;
        height: 21px;
        font-size: 0.8em;
        color: #585858;        
        margin: 45px 75px 0px 0px; 
    }

    .home-image-container svg{
        width: 300px;
    }
}



@media(min-width: 1200px){
    .home-container{
        width: 979px;
        height: 365px;
        padding: 5px 10px 0px 5px;
        font-size: 25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        background-color: #00285F;
        border-radius: 10px;
    }

    .home-card{
        padding: 5px 0px 18px 0px;
    }

    .home-image-container{
        width: 333px;
        height: 119px;
        padding: 73px 9px 0px 585px;
    }

    .home-content-container{
        align-items: flex-start;
        text-align: left;
        align-content: space-between;
        flex-flow: wrap;
        font-size: 25px;
        padding: 0px 52px 10px 135px;
        
    }
    
    .home-content-container h1{
        width: 420px;
        height: 42px;
        font-size: 1.1em;
        padding: 1px 19px 20px 26px;
    }

    .home-content-container p{
        font-size: 0.6em;
        width: 420px;
        height: 42px;
        padding: 0px 85px 41px 2px;
    }

    .home-btn-button{
        font-size: 18px;
        display: flex;
    }

    .home-btn{
        width: 536px;
        height: 123px;
        background: #fff; 
        margin: 20px 0px 0px 0px;  
    }

    .home-btn-button p{
        width: 520px;
        height: 21px;
        font-size: 0.8em;
        color: #585858;        
        margin: 45px 75px 0px 0px; 
    }

    .home-image-container svg{
        width: 300px;
    }
}


