.home-container{
    position: absolute;
    width: 300px;
    height: 365px;
    left: 10px;
    top: 90px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #00285F;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.home-card{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
}

.home-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 60px 10px;
}

.home-content-container h1{
    width: 260px;
    font-size: 1em;
    margin-bottom: 15px;
    color: #fff;
}

.home-content-container p{
    width: 260px;
    color: #fff;
    font-size: 0.6em;
}