.home-car{
    height: 450px;
    border: 2px solid orange;
    padding: 28px 10px 5px 10px;
}

.input-group{
    width: 300px;
    height: 86px;
    border: 2px solid black;
    padding: 0px 2px 5px 0px;
    margin: 0px 20px 5px 0px;
}

.input-group-append{
    width: 0px;
    padding: 0px 0px 5px 0px;
}

#example-search-input{
    padding: 0px 15px 0px 10px;
    margin : 22px 1px 0px 10px;
}

.form-control{
    width: 199px;
    height: 40px;
    padding: 0px 10px 5px 0px;
    margin: 22px 10px 24px 10px;
    border: 2px solid brown;
    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
}

.car-icon-container{
    background: #00285F;
    padding: 5px 14px 5px 12px;
    border-radius: 0px 5px 5px 0px;
    margin: 5px 29px 5px 10px;
}

.car-card{
    margin-bottom: 30px;
}

.card-top-container{
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #e1e1e1;
    border: 2px solid palevioletred;
}

.card-top-container img{
    width: 220.72px;
    height: 165px;
    border: 2px solid green;
}

.car-doc-container{
    padding: 15px 20px 30px 20px;
    font-size: 18px;
    border: 2px solid red;
}

.car-doc-container h4{
    font-weight: bold;
    width: 263.86px;
    height: 21px;
    font-size: 1.2em;
    padding: 15px 29px 30px 50px;
    border: 2px solid black;
}

.car-doc-container p{
    width: 264px;
    height: 32px;
    font-size: 0.6em;
    padding: 4px 29px 14px 5px;
    color: #263238;
    border: 2px solid blue;
}


@media(min-width: 576px){
    .home-car{
        height: 550px;
        border: 2px solid orange;
        padding: 28px 10px 5px 10px;
    }

    .input-group{
        width: 536px;
        height: 123px;
        border: 2px solid black;
        padding: 20px 2px 5px 0px;
        margin: 0px 20px 5px 0px;
    }
}

@media(min-width: 768px){
    .home-car{
        height: 430px;
        border: 2px solid orange;
        padding: 28px 10px 5px 10px;
    }

    .input-group{
        width: 728px;
        height: 115px;
        border: 2px solid black;
        padding: 10px 2px 0px 0px;
        margin: 0px 20px 5px 0px;
    }
}

@media(min-width: 992px){
    .home-car{
        height: 350px;
        border: 2px solid orange;
        padding: 28px 10px 5px 10px;
    }

    .input-group{
        width: 952px;
        height: 123px;
        border: 2px solid black;
        padding: 20px 2px 5px 0px;
        margin: 0px 20px 5px 0px;
    }
   
}

@media(min-width: 1280px){
    .home-car{
        width: 992;
        height: 365px;
        border: 2px solid orange;
        padding: 28px 10px 5px 10px;
    }

    .input-group{
        width: 1300px;
        height: 123px;
        border: 2px solid black;
        padding: 20px 2px 5px 0px;
        margin: 0px 20px 5px 0px;
    }
   
}

@media(min-width: 1480px){
    .home-car{
        height: 400px;
        border: 2px solid orange;
        padding: 28px 10px 5px 10px;
    }
   
}