.main-nav{
    padding-left: 5px;
    min-height: 20px;
    background: #F78B00;   
}

.nav-logo-text, .nav-logo-text:hover{
    color: #00285F;
}

.main-menu{
    display: flex;
    font-size: 18px;
    width: 260px;
    color: #00285F;
    justify-content: space-between;
}

.main-menu a{
    color: #00285F;
}

.main-menu a:hover{
    color: #00285F;
}

.main-menu a.active{
    color: #00285F;
    font-weight: bold;
}

.nav-logo-text h4{
    font-weight: bold;
}

.navbar-toggler-icon{
    background: #00285F;
}
