.main-nav{
    padding:12px 25px 10px 15px;
    min-height: 20px;
    background: #F78B00;   
}

.nav-logo-text, .nav-logo-text:hover{
    color: #00285F;
}

.main-menu{
    display: flex;
    font-size: 18px;
    width: 260px;
    color: #00285F;
    justify-content: space-between;
}

.main-menu a{
    color: #00285F;
}

.main-menu a:hover{
    color: #00285F;
}

.main-menu a.active{
    color: #00285F;
    font-weight: bold;
}

.nav-logo-text h4{
    font-weight: bold;
}

.navbar-toggler-icon{
    background: linear-gradient(0deg, #00285F, #00285F), #00285F;
    border-radius: 5px;
}
.navbar-toggler{
    color: linear-gradient(0deg, #00285F, #00285F), #00285F;
    border-radius: 5px;
}


@media(min-width: 768px){
    .navbar-collapse{
        margin:0px 0px 10px 240px;
    }
}

@media(min-width: 992px){
    .navbar-collapse{
        margin:0px 0px 10px 320px;
    }
   
}

@media(min-width: 1280px){
    .navbar-collapse{
        margin:0px 0px 10px 720px;
    }
   
}

@media(min-width: 1480px){
    .navbar-collapse{
        margin:0px 0px 10px 520px;
    }
}