.btn-icon{
    width: 174px;
    height: 40px;
    font-size: 14px;
    background-color: #00285F;
    margin: 35px 80px 5px 50px;
    border-radius: 5px;
}

.btn-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height:50px;
    border-radius:0px 10px 10px 0px ;
}

.btn h6{
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    padding-top: 2.5px;
}

@media (min-width: 576px){
    .btn-container{
        width: 260px;
        font-size: 14px;
        padding: 0px 5px 85px 5px;  
    }

    .btn-icon{
        padding: 2px 40px 5px 25px;
    }

    .btn-icon h6{
        width: 174px;
        height: 40px;
        font-size: 01em;
        padding: 10px 59px 5px 13px;
        
    }
}